		{
    		module: "newsfeed",
    		position: "$position",
    		config: {
    			feeds: [
                    $feeds
                ],
                showSourceTitle: true,
				showPublishDate: true
    		}
		},